node_modules/

# Using bun
package-lock.json
yarn.lock

# Compiled TypeScript files
*.js
*.js.map
*.d.ts
*.d.ts.map

!types.d.ts

# Test workspace
Neurdle-tests.code-workspace

# Compiled SASS
# *.css
*.css.map
