node_modules/


# Using bun
package-lock.json
yarn.lock


# Compiled TypeScript files
*.js
*.js.map
*.d.ts
*.d.ts.map

!types.d.ts


# Keep eslint config
!eslint.config.js


# Keep stylelint config
!stylelint.config.js


# Test workspace
Neurdle-tests.code-workspace


# Keep JavaScript used for Electron
!desktop/*.js


# Compiled SASS
*.css
*.css.map

out/