# Node modules directory
node_modules/

# Using yarn
package-lock.json
bun.lock

# Compiled TypeScript files
*.js
*.js.map
*.d.ts
*.d.ts.map

# Compiled SASS
*.css
*.css.map

# Test workspace
Neurdle-tests.code-workspace

# Compiled app
dist/

# Ignore logs
logs/

# Misc types
!types.d.ts

# Keep eslint config
!eslint.config.js

# Keep stylelint config
!stylelint.config.js

# Keep JavaScript used for Electron
!desktop/*.js

